{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="{%static 'login.css' %}">
    <link rel="shortcut icon"
        href="https://cdn-icons.flaticon.com/png/512/2050/premium/2050106.png?token=exp=1636611665~hmac=e417e8e5523f82b0d0d056eca71dfd4c" />
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?size=626&ext=jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <h2>Đăng nhập người dùng</h2>
    <hr />
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <div class="wrapper">
        <form class="login" method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" />
            <input type="reset" />
            <button><a href="{% url 'home' %}" style="text-decoration: none">Home</a></button>
        </form>
    </div>
</body>

</html>