<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://cdn-icons.flaticon.com/png/512/5836/premium/5836184.png?token=exp=1636610647~hmac=1eedf792ab274a0bd1a230f860794df8" />
    <title>Đăng kí</title>
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?size=626&ext=jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <h3>Đăng kí người dùng</h3>
    <hr />
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" />
        <input type="reset" />
        <button><a href="{% url 'home' %}" style="text-decoration: none">Home</a></button>
    </form>
</body>

</html>